@font-face {
   font-family: 'Gilbert-Bold-Preview_1004';
   font-display: swap;
   src: url('file:///C:/Users/noahv/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-03-01_135647/fonts/Gilbert-Bold-Preview_1004/font.ttf');
}
