@font-face {
   font-family: 'Gilbert-Bold-Preview_1004';
   font-display: swap;
   src: url('Gilbert-Bold-Preview_1004/font.ttf');
}
@font-face {
   font-family: 'AvenirNextLTPro-Regular';
   font-display: swap;
   src: url('AvenirNextLTPro-Regular/font.ttf');
}
