@font-face {
   font-family: 'AvenirNextLTPro-Regular';
   font-display: swap;
   src: url('file:///C:/Users/noahv/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-02-08_212857/fonts/AvenirNextLTPro-Regular/font.ttf');
}
